<img src="logoitesojupyter.png"><br>
<h1><center>Proyecto de Aplicación: Manejo de Datos y de Similitud</center></h1><br>
<center>DEPARTAMENTO DE MATEMÁTICAS Y FÍSICA (DEAM) </center><br>
<center><strong>Materia</strong>: Ciencia de Datos e Ingeligencia de Negocios</center><br>
<center>Instituto Tecnológico y de Estudios Superiores de Occidente (ITESO), A. C. </center><br>
<center><strong>Prof</strong>. Gaddiel Desirena </center><br>
<center><strong>Periodo</strong>: Otoño 2020 </center><br>
<center><strong>Programa</strong>: Igeniería Financiera </center>

<p><font color = "blue"><center><b><strong>Nombre de los integrantes:</strong></b></center></font>
<center>Moisés Flores Ortiz. Exp. 722183 </center>
<center>Aranzazú Rendón Gómez. Exp. </center>
<center>Miriam Eunice Rosas Medellín. Exp. 721272</center></p>

**Aquí escribimos el objetivo de nuestro análisis (planteamiento del problema, justiificación, objetivos, etc.).**

In [1]:
# Importar librerías
import pandas as pd
import numpy as np
import scipy.spatial.distance as sc
from CDIN import CDIN as eda

In [2]:
# Importar datos
data = pd.read_csv("../DATA/7210_1.csv")
# Mostrar datos
data.head(5)

C:\Users\miria\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (13,16,18,22,24,32,33,40,41,47,51) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,id,asins,brand,categories,colors,count,dateAdded,dateUpdated,descriptions,dimension,...,skus,sourceURLs,upc,vin,websiteIDs,weight,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51
0,AVpe__eOilAPnD_xSt-H,NaN,Novica,"Access.,Clothing,Shoes,Women's Clothing",Purple,NaN,2017-02-03T22:06:24Z,2017-03-28T11:53:51Z,"[{""dateSeen"":[""2017-03-26T05:04:46.539Z"",""2017...",NaN,...,"[{""sourceURLs"":[""https://www.overstock.com/Wor...",https://www.overstock.com/Worldstock-Fair-Trad...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AVpe__eOilAPnD_xSt-H,NaN,Novica,"Access.,Clothing,Shoes,Women's Clothing",Purple,NaN,2017-02-03T22:06:24Z,2017-03-28T11:53:51Z,"[{""dateSeen"":[""2017-03-26T05:04:46.539Z"",""2017...",NaN,...,"[{""sourceURLs"":[""https://www.overstock.com/Wor...",https://www.overstock.com/Worldstock-Fair-Trad...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AVpe__eOilAPnD_xSt-H,NaN,Novica,"Access.,Clothing,Shoes,Women's Clothing",Purple,NaN,2017-02-03T22:06:24Z,2017-03-28T11:53:51Z,"[{""dateSeen"":[""2017-03-26T05:04:46.539Z"",""2017...",NaN,...,"[{""sourceURLs"":[""https://www.overstock.com/Wor...",https://www.overstock.com/Worldstock-Fair-Trad...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AVpe__eOilAPnD_xSt-H,NaN,Novica,"Access.,Clothing,Shoes,Women's Clothing",Purple,NaN,2017-02-03T22:06:24Z,2017-03-28T11:53:51Z,"[{""dateSeen"":[""2017-03-26T05:04:46.539Z"",""2017...",NaN,...,"[{""sourceURLs"":[""https://www.overstock.com/Wor...",https://www.overstock.com/Worldstock-Fair-Trad...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AVpe__eOilAPnD_xSt-H,NaN,Novica,"Access.,Clothing,Shoes,Women's Clothing",Purple,NaN,2017-02-03T22:06:24Z,2017-03-28T11:53:51Z,"[{""dateSeen"":[""2017-03-26T05:04:46.539Z"",""2017...",NaN,...,"[{""sourceURLs"":[""https://www.overstock.com/Wor...",https://www.overstock.com/Worldstock-Fair-Trad...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
#Hacer reporte de calidad de datos
report = eda.dqr(data)
# Mostrar reporte
report

,data_types,missing_values,present_values,unique_values,min,max
id,object,0,33801,9996,AVpe--5gLJeJML43zzQk,AVtidDQ-nnc1JgDc5U4Q
asins,object,31379,2422,1245,NaN,NaN
brand,object,984,32817,1360,NaN,NaN
categories,object,0,33801,894,"#23400 in,Halloween,Accessories,#97541 in,#341...","toys,Shoes,Women's Shoes"
colors,object,13957,19844,2065,NaN,NaN
count,float64,33801,0,0,NaN,NaN
dateAdded,object,0,33801,7006,2014-02-20T04:07:06Z,2017-04-12T13:57:14Z
dateUpdated,object,0,33801,6506,2016-01-01T17:02:12Z,2017-04-13T20:49:51Z
descriptions,object,5376,28425,7186,NaN,NaN
dimension,object,32624,1177,100,NaN,NaN
ean,float64,24023,9778,1688,415187,8.7179e+12
features,object,6620,27181,7567,NaN,NaN
flavors,float64,33801,0,0,NaN,NaN
imageURLs,object,11492,22309,7500,NaN,NaN
isbn,float64,33801,0,0,NaN,NaN
keys,object,0,33801,9980,"000088892245,michaelkors/megthong,0000088892245","zumba/zumbastreetclassicw,womensstreetclassicd..."
manufacturer,object,24522,9279,793,NaN,NaN
manufacturerNumber,object,2367,31434,7604,NaN,NaN
merchants,object,18419,15382,4889,NaN,NaN
name,object,0,33801,9494,$125 Dansko Professional Leather Clogs In Hick...,Zoot Tt Trainer 2.0 Round Toe Synthetic Sne...
prices.amountMin,float64,0,33801,3541,0.01,4270
prices.amountMax,float64,0,33801,3414,0.01,5200
prices.availability,object,33494,307,6,NaN,NaN
prices.color,object,16380,17421,2057,NaN,NaN
prices.condition,object,21786,12015,10,NaN,NaN
prices.count,float64,33801,0,0,NaN,NaN
prices.currency,object,0,33801,5,AUD,USD
prices.dateAdded,object,0,33801,7806,2014-02-20T04:07:06Z,2017-04-13T20:49:51Z
prices.dateSeen,object,0,33801,5097,2014-02-20T04:07:06Z,"2017-04-13T01:03:36.943Z,2017-04-13T00:43:09.9..."
prices.flavor,float64,33801,0,0,NaN,NaN
prices.isSale,bool,0,33801,2,False,True
prices.merchant,object,3875,29926,289,NaN,NaN
prices.offer,object,27003,6798,1255,NaN,NaN
prices.returnPolicy,object,32427,1374,7,NaN,NaN
prices.shipping,object,29853,3948,117,NaN,NaN
prices.size,object,18410,15391,111,NaN,NaN
prices.source,float64,33801,0,0,NaN,NaN
prices.sourceURLs,object,0,33801,12856,\\n\\n\\n\\n\\n\\n\\nhttps://www.amazon.com/Sk...,https://www.walmart.com/ip/totes-ISOTONER-Size...
prices.warranty,float64,33801,0,0,NaN,NaN
quantities,object,15311,18490,2311,NaN,NaN
reviews,object,29613,4188,596,NaN,NaN
sizes,object,25199,8602,1041,NaN,NaN
skus,object,11666,22135,3808,NaN,NaN
sourceURLs,object,0,33801,9993,There are too many sourceURLs objects to show....,https://www.walmart.com/reviews/product/836001...
upc,float64,23077,10724,1798,415187,9.1053e+11
vin,float64,33801,0,0,NaN,NaN
websiteIDs,float64,33801,0,0,NaN,NaN
weight,object,32538,1263,69,NaN,NaN
Unnamed: 48,float64,33801,0,0,NaN,NaN
Unnamed: 49,float64,33801,0,0,NaN,NaN
Unnamed: 50,float64,33801,0,0,NaN,NaN
Unnamed: 51,object,33800,1,1,NaN,NaN

In [4]:
# Seleccionar columnas útiles para los insigths y limpieza de datos
data = data[["brand", "name", "prices.amountMin", "prices.amountMax", "prices.currency", "colors", "prices.merchant", 
             "prices.dateAdded"]]
# Mostrar nueva base de datos
data.head(5)

,brand,name,prices.amountMin,prices.amountMax,prices.currency,colors,prices.merchant,prices.dateAdded
0,Novica,Handcrafted Alpaca Blend 'Purple Charisma' Swe...,62.99,62.99,USD,Purple,Overstock.com,2017-03-28T11:53:51Z
1,Novica,Handcrafted Alpaca Blend 'Purple Charisma' Swe...,62.99,62.99,USD,Purple,Overstock.com,2017-03-28T11:53:51Z
2,Novica,Handcrafted Alpaca Blend 'Purple Charisma' Swe...,62.99,62.99,USD,Purple,Overstock.com,2017-03-28T11:53:51Z
3,Novica,Handcrafted Alpaca Blend 'Purple Charisma' Swe...,62.99,62.99,USD,Purple,Overstock.com,2017-03-28T11:53:51Z
4,Novica,Handcrafted Alpaca Blend 'Purple Charisma' Swe...,62.99,62.99,USD,Purple,Overstock.com,2017-03-02T16:48:44Z

In [5]:
# Eliminar filas con algún missing value
data.dropna(inplace = True)
# Mostrar base de datos actualizada
data.head(5)

,brand,name,prices.amountMin,prices.amountMax,prices.currency,colors,prices.merchant,prices.dateAdded
0,Novica,Handcrafted Alpaca Blend 'Purple Charisma' Swe...,62.99,62.99,USD,Purple,Overstock.com,2017-03-28T11:53:51Z
1,Novica,Handcrafted Alpaca Blend 'Purple Charisma' Swe...,62.99,62.99,USD,Purple,Overstock.com,2017-03-28T11:53:51Z
2,Novica,Handcrafted Alpaca Blend 'Purple Charisma' Swe...,62.99,62.99,USD,Purple,Overstock.com,2017-03-28T11:53:51Z
3,Novica,Handcrafted Alpaca Blend 'Purple Charisma' Swe...,62.99,62.99,USD,Purple,Overstock.com,2017-03-28T11:53:51Z
4,Novica,Handcrafted Alpaca Blend 'Purple Charisma' Swe...,62.99,62.99,USD,Purple,Overstock.com,2017-03-02T16:48:44Z

In [6]:
# Mostrar las divisas que se utilizan para mostrar los precios
data["prices.currency"].unique()

array(['USD', 'CAD', 'AUD'], dtype=object)

In [7]:
# Quedarse con los precios en dólares para tener un dataset normalizado
data = data[data["prices.currency"] == "USD"]
# Mostrar datos
data.head(5)

,brand,name,prices.amountMin,prices.amountMax,prices.currency,colors,prices.merchant,prices.dateAdded
0,Novica,Handcrafted Alpaca Blend 'Purple Charisma' Swe...,62.99,62.99,USD,Purple,Overstock.com,2017-03-28T11:53:51Z
1,Novica,Handcrafted Alpaca Blend 'Purple Charisma' Swe...,62.99,62.99,USD,Purple,Overstock.com,2017-03-28T11:53:51Z
2,Novica,Handcrafted Alpaca Blend 'Purple Charisma' Swe...,62.99,62.99,USD,Purple,Overstock.com,2017-03-28T11:53:51Z
3,Novica,Handcrafted Alpaca Blend 'Purple Charisma' Swe...,62.99,62.99,USD,Purple,Overstock.com,2017-03-28T11:53:51Z
4,Novica,Handcrafted Alpaca Blend 'Purple Charisma' Swe...,62.99,62.99,USD,Purple,Overstock.com,2017-03-02T16:48:44Z

In [8]:
# Hacer una nueva columna de precio promedio
data["Precio"] = (data["prices.amountMin"] + data["prices.amountMax"]) / 2
# Mostrar base de datos
data.head(5)

,brand,name,prices.amountMin,prices.amountMax,prices.currency,colors,prices.merchant,prices.dateAdded,Precio
0,Novica,Handcrafted Alpaca Blend 'Purple Charisma' Swe...,62.99,62.99,USD,Purple,Overstock.com,2017-03-28T11:53:51Z,62.99
1,Novica,Handcrafted Alpaca Blend 'Purple Charisma' Swe...,62.99,62.99,USD,Purple,Overstock.com,2017-03-28T11:53:51Z,62.99
2,Novica,Handcrafted Alpaca Blend 'Purple Charisma' Swe...,62.99,62.99,USD,Purple,Overstock.com,2017-03-28T11:53:51Z,62.99
3,Novica,Handcrafted Alpaca Blend 'Purple Charisma' Swe...,62.99,62.99,USD,Purple,Overstock.com,2017-03-28T11:53:51Z,62.99
4,Novica,Handcrafted Alpaca Blend 'Purple Charisma' Swe...,62.99,62.99,USD,Purple,Overstock.com,2017-03-02T16:48:44Z,62.99

In [9]:
# Eliminar filas que no interesan ya (precio mínimo, máximo y currency)
data.drop(columns = ["prices.amountMin", "prices.amountMax", "prices.currency"], inplace = True)
# Mostrar los datos
data.head(5)

,brand,name,colors,prices.merchant,prices.dateAdded,Precio
0,Novica,Handcrafted Alpaca Blend 'Purple Charisma' Swe...,Purple,Overstock.com,2017-03-28T11:53:51Z,62.99
1,Novica,Handcrafted Alpaca Blend 'Purple Charisma' Swe...,Purple,Overstock.com,2017-03-28T11:53:51Z,62.99
2,Novica,Handcrafted Alpaca Blend 'Purple Charisma' Swe...,Purple,Overstock.com,2017-03-28T11:53:51Z,62.99
3,Novica,Handcrafted Alpaca Blend 'Purple Charisma' Swe...,Purple,Overstock.com,2017-03-28T11:53:51Z,62.99
4,Novica,Handcrafted Alpaca Blend 'Purple Charisma' Swe...,Purple,Overstock.com,2017-03-02T16:48:44Z,62.99

In [10]:
# Ordenar el dataset por nombre del modelo y después por fecha (para poder quedarse sólo con los datos de la última fecha)
data.sort_values(["name", "prices.dateAdded"], inplace = True)
# Mostrar datos
data.head(5)

,brand,name,colors,prices.merchant,prices.dateAdded,Precio
454,Dansko,$125 Dansko Professional Leather Clogs In Hick...,Brown,discountdesigners2020discountdesigners2020 - E...,2016-03-26T00:11:26Z,55.25
22221,Michael Kors,$125 Size 10 Brand New Michael Kors Logo Mid B...,Black,designerspotinc - Ebay.com,2016-04-15T13:11:43Z,43.50
5905,Nine West,$180 Nine West Knee High Hilbert Black Womens ...,Black,Virtual Exchanges Inc - Walmart.com,2016-11-04T03:10:42Z,180.00
5906,Nine West,$180 Nine West Knee High Hilbert Black Womens ...,Black,Virtual Exchanges Inc - Walmart.com,2016-11-04T03:10:42Z,124.95
5907,Nine West,$180 Nine West Knee High Hilbert Black Womens ...,Black,Virtual Exchanges Inc - Walmart.com,2016-11-04T03:10:42Z,79.99

In [11]:
# Eliminar filas duplicadas por nombre quedándonos sólo con el precio más reciente del modelo
data.drop_duplicates("name", keep = "last", inplace = True)
# Mostrar los datos
data.head(5)

,brand,name,colors,prices.merchant,prices.dateAdded,Precio
454,Dansko,$125 Dansko Professional Leather Clogs In Hick...,Brown,discountdesigners2020discountdesigners2020 - E...,2016-03-26T00:11:26Z,55.250
22221,Michael Kors,$125 Size 10 Brand New Michael Kors Logo Mid B...,Black,designerspotinc - Ebay.com,2016-04-15T13:11:43Z,43.500
5907,Nine West,$180 Nine West Knee High Hilbert Black Womens ...,Black,Virtual Exchanges Inc - Walmart.com,2016-11-04T03:10:42Z,79.990
7097,Diesel,$250 Diesel Forever White Heels Pumps Shoes 10...,White,Virtual Exchanges Inc - Walmart.com,2016-11-10T09:15:33Z,99.950
7308,Rialto,'popcorn' Women's Bootie,"Black,Espresso",Amazon.com,2016-02-02T05:30:24Z,48.165

In [12]:
# Eliminar la columna de fecha ya que no nos sirve para el análisis (sólo la queríamos para filtrar y seleccionar datos)
data.drop(columns = "prices.dateAdded", inplace = True)
# Mostrar datos
data.head(5)

,brand,name,colors,prices.merchant,Precio
454,Dansko,$125 Dansko Professional Leather Clogs In Hick...,Brown,discountdesigners2020discountdesigners2020 - E...,55.250
22221,Michael Kors,$125 Size 10 Brand New Michael Kors Logo Mid B...,Black,designerspotinc - Ebay.com,43.500
5907,Nine West,$180 Nine West Knee High Hilbert Black Womens ...,Black,Virtual Exchanges Inc - Walmart.com,79.990
7097,Diesel,$250 Diesel Forever White Heels Pumps Shoes 10...,White,Virtual Exchanges Inc - Walmart.com,99.950
7308,Rialto,'popcorn' Women's Bootie,"Black,Espresso",Amazon.com,48.165

In [13]:
# Cambiarle el nombre a las columnas para que sean más intuitivos
data.rename({"brand": "Marca", "name": "Modelo", "colors": "Color", "prices.merchant": "Distribuidor"}, axis = 1, 
            inplace = True)
# Mostrar datos
data.head(5)

,Marca,Modelo,Color,Distribuidor,Precio
454,Dansko,$125 Dansko Professional Leather Clogs In Hick...,Brown,discountdesigners2020discountdesigners2020 - E...,55.250
22221,Michael Kors,$125 Size 10 Brand New Michael Kors Logo Mid B...,Black,designerspotinc - Ebay.com,43.500
5907,Nine West,$180 Nine West Knee High Hilbert Black Womens ...,Black,Virtual Exchanges Inc - Walmart.com,79.990
7097,Diesel,$250 Diesel Forever White Heels Pumps Shoes 10...,White,Virtual Exchanges Inc - Walmart.com,99.950
7308,Rialto,'popcorn' Women's Bootie,"Black,Espresso",Amazon.com,48.165

In [14]:
# Fijar en el índice el nombre del modelo de los zapatos para hacer los insigths sobre los mismos
data.set_index("Modelo", inplace = True)
# Mostrar datos
data.head(5)

,Marca,Color,Distribuidor,Precio
Modelo,,,,
$125 Dansko Professional Leather Clogs In Hickory Cabrio Eu 40 Us 9.5-10,Dansko,Brown,discountdesigners2020discountdesigners2020 - E...,55.250
"$125 Size 10 Brand New Michael Kors Logo Mid Black 9 Rainboots + Box""",Michael Kors,Black,designerspotinc - Ebay.com,43.500
$180 Nine West Knee High Hilbert Black Womens Boots,Nine West,Black,Virtual Exchanges Inc - Walmart.com,79.990
$250 Diesel Forever White Heels Pumps Shoes 10 Eu 41,Diesel,White,Virtual Exchanges Inc - Walmart.com,99.950
'popcorn' Women's Bootie,Rialto,"Black,Espresso",Amazon.com,48.165