<img src="logoitesojupyter.png"><br>
<h1><center>Proyecto de Aplicación: Manejo de Datos y de Similitud</center></h1><br>
<center>DEPARTAMENTO DE MATEMÁTICAS Y FÍSICA (DEAM) </center><br>
<center><strong>Materia</strong>: Ciencia de Datos e Ingeligencia de Negocios</center><br>
<center>Instituto Tecnológico y de Estudios Superiores de Occidente (ITESO), A. C. </center><br>
<center><strong>Prof</strong>. Gaddiel Desirena </center><br>
<center><strong>Periodo</strong>: Otoño 2020 </center><br>
<center><strong>Programa</strong>: Igeniería Financiera </center>

<p><font color = "blue"><center><b><strong>Nombre de los integrantes:</strong></b></center></font>
<center>Moisés Flores Ortiz. Exp. 722183 </center>
<center>Aranzazú Rendón Gómez. Exp. </center>
<center>Miriam Eunice Rosas Medellín. Exp. 721272</center></p>

**Aquí escribimos el objetivo de nuestro análisis (planteamiento del problema, justiificación, objetivos, etc.).**

In [1]:
# Importar librerías
import pandas as pd
import numpy as np
import scipy.spatial.distance as sc
from CDIN import CDIN as eda
from itertools import cycle

In [2]:
# Importar datos
data = pd.read_csv("../DATA/7210_1.csv")
# Mostrar datos
data.head(5)

C:\Users\miria\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (13,16,18,22,24,32,33,40,41,47,51) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,id,asins,brand,categories,colors,count,dateAdded,dateUpdated,descriptions,dimension,...,skus,sourceURLs,upc,vin,websiteIDs,weight,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51
0,AVpe__eOilAPnD_xSt-H,NaN,Novica,"Access.,Clothing,Shoes,Women's Clothing",Purple,NaN,2017-02-03T22:06:24Z,2017-03-28T11:53:51Z,"[{""dateSeen"":[""2017-03-26T05:04:46.539Z"",""2017...",NaN,...,"[{""sourceURLs"":[""https://www.overstock.com/Wor...",https://www.overstock.com/Worldstock-Fair-Trad...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AVpe__eOilAPnD_xSt-H,NaN,Novica,"Access.,Clothing,Shoes,Women's Clothing",Purple,NaN,2017-02-03T22:06:24Z,2017-03-28T11:53:51Z,"[{""dateSeen"":[""2017-03-26T05:04:46.539Z"",""2017...",NaN,...,"[{""sourceURLs"":[""https://www.overstock.com/Wor...",https://www.overstock.com/Worldstock-Fair-Trad...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AVpe__eOilAPnD_xSt-H,NaN,Novica,"Access.,Clothing,Shoes,Women's Clothing",Purple,NaN,2017-02-03T22:06:24Z,2017-03-28T11:53:51Z,"[{""dateSeen"":[""2017-03-26T05:04:46.539Z"",""2017...",NaN,...,"[{""sourceURLs"":[""https://www.overstock.com/Wor...",https://www.overstock.com/Worldstock-Fair-Trad...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AVpe__eOilAPnD_xSt-H,NaN,Novica,"Access.,Clothing,Shoes,Women's Clothing",Purple,NaN,2017-02-03T22:06:24Z,2017-03-28T11:53:51Z,"[{""dateSeen"":[""2017-03-26T05:04:46.539Z"",""2017...",NaN,...,"[{""sourceURLs"":[""https://www.overstock.com/Wor...",https://www.overstock.com/Worldstock-Fair-Trad...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AVpe__eOilAPnD_xSt-H,NaN,Novica,"Access.,Clothing,Shoes,Women's Clothing",Purple,NaN,2017-02-03T22:06:24Z,2017-03-28T11:53:51Z,"[{""dateSeen"":[""2017-03-26T05:04:46.539Z"",""2017...",NaN,...,"[{""sourceURLs"":[""https://www.overstock.com/Wor...",https://www.overstock.com/Worldstock-Fair-Trad...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
#Hacer reporte de calidad de datos
report = eda.dqr(data)
# Mostrar reporte
report

,data_types,missing_values,present_values,unique_values,min,max
id,object,0,33801,9996,AVpe--5gLJeJML43zzQk,AVtidDQ-nnc1JgDc5U4Q
asins,object,31379,2422,1245,NaN,NaN
brand,object,984,32817,1360,NaN,NaN
categories,object,0,33801,894,"#23400 in,Halloween,Accessories,#97541 in,#341...","toys,Shoes,Women's Shoes"
colors,object,13957,19844,2065,NaN,NaN
count,float64,33801,0,0,NaN,NaN
dateAdded,object,0,33801,7006,2014-02-20T04:07:06Z,2017-04-12T13:57:14Z
dateUpdated,object,0,33801,6506,2016-01-01T17:02:12Z,2017-04-13T20:49:51Z
descriptions,object,5376,28425,7186,NaN,NaN
dimension,object,32624,1177,100,NaN,NaN
ean,float64,24023,9778,1688,415187,8.7179e+12
features,object,6620,27181,7567,NaN,NaN
flavors,float64,33801,0,0,NaN,NaN
imageURLs,object,11492,22309,7500,NaN,NaN
isbn,float64,33801,0,0,NaN,NaN
keys,object,0,33801,9980,"000088892245,michaelkors/megthong,0000088892245","zumba/zumbastreetclassicw,womensstreetclassicd..."
manufacturer,object,24522,9279,793,NaN,NaN
manufacturerNumber,object,2367,31434,7604,NaN,NaN
merchants,object,18419,15382,4889,NaN,NaN
name,object,0,33801,9494,$125 Dansko Professional Leather Clogs In Hick...,Zoot Tt Trainer 2.0 Round Toe Synthetic Sne...
prices.amountMin,float64,0,33801,3541,0.01,4270
prices.amountMax,float64,0,33801,3414,0.01,5200
prices.availability,object,33494,307,6,NaN,NaN
prices.color,object,16380,17421,2057,NaN,NaN
prices.condition,object,21786,12015,10,NaN,NaN
prices.count,float64,33801,0,0,NaN,NaN
prices.currency,object,0,33801,5,AUD,USD
prices.dateAdded,object,0,33801,7806,2014-02-20T04:07:06Z,2017-04-13T20:49:51Z
prices.dateSeen,object,0,33801,5097,2014-02-20T04:07:06Z,"2017-04-13T01:03:36.943Z,2017-04-13T00:43:09.9..."
prices.flavor,float64,33801,0,0,NaN,NaN
prices.isSale,bool,0,33801,2,False,True
prices.merchant,object,3875,29926,289,NaN,NaN
prices.offer,object,27003,6798,1255,NaN,NaN
prices.returnPolicy,object,32427,1374,7,NaN,NaN
prices.shipping,object,29853,3948,117,NaN,NaN
prices.size,object,18410,15391,111,NaN,NaN
prices.source,float64,33801,0,0,NaN,NaN
prices.sourceURLs,object,0,33801,12856,\\n\\n\\n\\n\\n\\n\\nhttps://www.amazon.com/Sk...,https://www.walmart.com/ip/totes-ISOTONER-Size...
prices.warranty,float64,33801,0,0,NaN,NaN
quantities,object,15311,18490,2311,NaN,NaN
reviews,object,29613,4188,596,NaN,NaN
sizes,object,25199,8602,1041,NaN,NaN
skus,object,11666,22135,3808,NaN,NaN
sourceURLs,object,0,33801,9993,There are too many sourceURLs objects to show....,https://www.walmart.com/reviews/product/836001...
upc,float64,23077,10724,1798,415187,9.1053e+11
vin,float64,33801,0,0,NaN,NaN
websiteIDs,float64,33801,0,0,NaN,NaN
weight,object,32538,1263,69,NaN,NaN
Unnamed: 48,float64,33801,0,0,NaN,NaN
Unnamed: 49,float64,33801,0,0,NaN,NaN
Unnamed: 50,float64,33801,0,0,NaN,NaN
Unnamed: 51,object,33800,1,1,NaN,NaN

In [4]:
# Seleccionar columnas útiles para los insigths y limpieza de datos
data = data[["brand", "name", "prices.amountMin", "prices.amountMax", "prices.currency", "colors", "prices.merchant"]]
# Mostrar nueva base de datos
data.head(5)

,brand,name,prices.amountMin,prices.amountMax,prices.currency,colors,prices.merchant
0,Novica,Handcrafted Alpaca Blend 'Purple Charisma' Swe...,62.99,62.99,USD,Purple,Overstock.com
1,Novica,Handcrafted Alpaca Blend 'Purple Charisma' Swe...,62.99,62.99,USD,Purple,Overstock.com
2,Novica,Handcrafted Alpaca Blend 'Purple Charisma' Swe...,62.99,62.99,USD,Purple,Overstock.com
3,Novica,Handcrafted Alpaca Blend 'Purple Charisma' Swe...,62.99,62.99,USD,Purple,Overstock.com
4,Novica,Handcrafted Alpaca Blend 'Purple Charisma' Swe...,62.99,62.99,USD,Purple,Overstock.com

In [5]:
# Eliminar filas con algún missing value
data.dropna(inplace = True)
# Mostrar base de datos actualizada
data.head(5)

,brand,name,prices.amountMin,prices.amountMax,prices.currency,colors,prices.merchant
0,Novica,Handcrafted Alpaca Blend 'Purple Charisma' Swe...,62.99,62.99,USD,Purple,Overstock.com
1,Novica,Handcrafted Alpaca Blend 'Purple Charisma' Swe...,62.99,62.99,USD,Purple,Overstock.com
2,Novica,Handcrafted Alpaca Blend 'Purple Charisma' Swe...,62.99,62.99,USD,Purple,Overstock.com
3,Novica,Handcrafted Alpaca Blend 'Purple Charisma' Swe...,62.99,62.99,USD,Purple,Overstock.com
4,Novica,Handcrafted Alpaca Blend 'Purple Charisma' Swe...,62.99,62.99,USD,Purple,Overstock.com

In [6]:
# Mostrar las divisas que se utilizan para mostrar los precios
data["prices.currency"].unique()

array(['USD', 'CAD', 'AUD'], dtype=object)

In [7]:
# Quedarse con los precios en dólares para tener un dataset normalizado
data = data[data["prices.currency"] == "USD"]
# Mostrar datos
data.head(5)

,brand,name,prices.amountMin,prices.amountMax,prices.currency,colors,prices.merchant
0,Novica,Handcrafted Alpaca Blend 'Purple Charisma' Swe...,62.99,62.99,USD,Purple,Overstock.com
1,Novica,Handcrafted Alpaca Blend 'Purple Charisma' Swe...,62.99,62.99,USD,Purple,Overstock.com
2,Novica,Handcrafted Alpaca Blend 'Purple Charisma' Swe...,62.99,62.99,USD,Purple,Overstock.com
3,Novica,Handcrafted Alpaca Blend 'Purple Charisma' Swe...,62.99,62.99,USD,Purple,Overstock.com
4,Novica,Handcrafted Alpaca Blend 'Purple Charisma' Swe...,62.99,62.99,USD,Purple,Overstock.com

In [8]:
# Hacer una nueva columna de precio promedio
data["Precio"] = (data["prices.amountMin"] + data["prices.amountMax"]) / 2
# Mostrar base de datos
data.head(5)

,brand,name,prices.amountMin,prices.amountMax,prices.currency,colors,prices.merchant,Precio
0,Novica,Handcrafted Alpaca Blend 'Purple Charisma' Swe...,62.99,62.99,USD,Purple,Overstock.com,62.99
1,Novica,Handcrafted Alpaca Blend 'Purple Charisma' Swe...,62.99,62.99,USD,Purple,Overstock.com,62.99
2,Novica,Handcrafted Alpaca Blend 'Purple Charisma' Swe...,62.99,62.99,USD,Purple,Overstock.com,62.99
3,Novica,Handcrafted Alpaca Blend 'Purple Charisma' Swe...,62.99,62.99,USD,Purple,Overstock.com,62.99
4,Novica,Handcrafted Alpaca Blend 'Purple Charisma' Swe...,62.99,62.99,USD,Purple,Overstock.com,62.99

In [9]:
# Eliminar filas que no interesan ya (precio mínimo, máximo y currency)
data.drop(columns = ["prices.amountMin", "prices.amountMax", "prices.currency"], inplace = True)
# Mostrar los datos
data.head(5)

,brand,name,colors,prices.merchant,Precio
0,Novica,Handcrafted Alpaca Blend 'Purple Charisma' Swe...,Purple,Overstock.com,62.99
1,Novica,Handcrafted Alpaca Blend 'Purple Charisma' Swe...,Purple,Overstock.com,62.99
2,Novica,Handcrafted Alpaca Blend 'Purple Charisma' Swe...,Purple,Overstock.com,62.99
3,Novica,Handcrafted Alpaca Blend 'Purple Charisma' Swe...,Purple,Overstock.com,62.99
4,Novica,Handcrafted Alpaca Blend 'Purple Charisma' Swe...,Purple,Overstock.com,62.99

In [10]:
# Eliminar filas duplicadas
data.drop_duplicates(inplace = True)
# Mostrar los datos
data.head(5)

,brand,name,colors,prices.merchant,Precio
0,Novica,Handcrafted Alpaca Blend 'Purple Charisma' Swe...,Purple,Overstock.com,62.99
6,Novica,Handcrafted Alpaca Blend 'Purple Charisma' Swe...,Purple,Overstock.com,56.69
10,BEAUTIFEET,"Sof Comfort Women's Everyday Gel Insoles, 2-pair","Multicolor,MULTI",Walmart store - Walmart.com,10.00
11,BEAUTIFEET,"Sof Comfort Women's Everyday Gel Insoles, 2-pair","Multicolor,MULTI",Walmart store - Walmart.com,8.00
16,Caparros,Caparros Karissa Open Toe Canvas Sandals,Silver,ApparelSave - Walmart.com,79.00

In [11]:
# Ordenar los datos para poder trabjar el dataset y poder hacer el promedio para zapatos iguales pero de diferente precio
data.sort_values(["brand", "name", "colors", "prices.merchant"] , inplace = True)
# Mostrar datos
data.head(5)

,brand,name,colors,prices.merchant,Precio
8543,1 World Sarongs,1 World Sarongs Women's Abstract Tiki Poncho (...,"Black,Blue,Brown",Overstock.com,18.24
8544,1 World Sarongs,1 World Sarongs Women's Abstract Tiki Poncho (...,"Black,Blue,Brown",Overstock.com,16.42
8545,1 World Sarongs,1 World Sarongs Women's Abstract Tiki Poncho (...,"Black,Blue,Brown",Overstock.com,15.39
8547,1 World Sarongs,1 World Sarongs Women's Abstract Tiki Poncho (...,"Black,Blue,Brown",Overstock.com,13.50
8548,1 World Sarongs,1 World Sarongs Women's Abstract Tiki Poncho (...,"Black,Blue,Brown",Overstock.com,12.77

In [12]:
# Hacer un nuevo dataframe con los índices que vayan de 1 en 1, iniciando en 0 (con el fin de poder trabajar el dataset)
data.reset_index(inplace = True, drop = True)
# Mostrar datos
data.head(5)

,brand,name,colors,prices.merchant,Precio
0,1 World Sarongs,1 World Sarongs Women's Abstract Tiki Poncho (...,"Black,Blue,Brown",Overstock.com,18.24
1,1 World Sarongs,1 World Sarongs Women's Abstract Tiki Poncho (...,"Black,Blue,Brown",Overstock.com,16.42
2,1 World Sarongs,1 World Sarongs Women's Abstract Tiki Poncho (...,"Black,Blue,Brown",Overstock.com,15.39
3,1 World Sarongs,1 World Sarongs Women's Abstract Tiki Poncho (...,"Black,Blue,Brown",Overstock.com,13.50
4,1 World Sarongs,1 World Sarongs Women's Abstract Tiki Poncho (...,"Black,Blue,Brown",Overstock.com,12.77

In [13]:
#  Renombrar para que sean nombres más intuitivos
data.rename(columns = {"brand": "Marca", "name": "Nombre", "colors": "Color", "prices.merchant": "Distribuidor"}, 
            inplace = True)
# Mostrar datos
data.head(10)

,Marca,Nombre,Color,Distribuidor,Precio
0,1 World Sarongs,1 World Sarongs Women's Abstract Tiki Poncho (...,"Black,Blue,Brown",Overstock.com,18.24
1,1 World Sarongs,1 World Sarongs Women's Abstract Tiki Poncho (...,"Black,Blue,Brown",Overstock.com,16.42
2,1 World Sarongs,1 World Sarongs Women's Abstract Tiki Poncho (...,"Black,Blue,Brown",Overstock.com,15.39
3,1 World Sarongs,1 World Sarongs Women's Abstract Tiki Poncho (...,"Black,Blue,Brown",Overstock.com,13.50
4,1 World Sarongs,1 World Sarongs Women's Abstract Tiki Poncho (...,"Black,Blue,Brown",Overstock.com,12.77
5,1 World Sarongs,1 World Sarongs Women's Embroidered/ Sequined ...,White,Overstock.com,27.99
6,1 World Sarongs,1 World Sarongs Women's Embroidered/ Sequined ...,White,Overstock.com,27.49
7,1 World Sarongs,1 World Sarongs Women's Embroidered/ Sequined ...,White,Overstock.com,19.24
8,1 World Sarongs,1 World Sarongs Women's Embroidered/ Sequined ...,White,Overstock.com,18.19
9,1 World Sarongs,1 World Sarongs Women's Hibiscus Design Tube T...,"Other,Pink,White,Yellow",Overstock.com,16.39

In [14]:
# Calcular el precio promedio por zapato diferente
def accumulates(x):
    new_data = pd.DataFrame(columns = ["Marca", "Nombre", "Color", "Distribuidor", "Acumulado"])
    new_data["Marca"] = data["Marca"]
    new_data["Nombre"] = data["Nombre"]
    new_data["Color"] = data["Color"]
    new_data["Distribuidor"] = data["Distribuidor"]
    lista_acumulados = [x.iloc[0]["Precio"]]
    for i in range(1, len(x)):
        if new_data.iloc[i].equals(new_data.iloc[i - 1]) == True:
            lista_acumulados.append(x.iloc[i]["Precio"] + lista_acumulados[i - 1])
        if new_data.iloc[i].equals(new_data.iloc[i - 1]) == False:
            lista_acumulados.append(x.iloc[i]["Precio"])
    new_data["Acumulado"] = lista_acumulados
    return new_data
# Asignar un dataframe para acumulados
acumulados = accumulates(data)
# Mostrar acumulados
acumulados.head(10)

,Marca,Nombre,Color,Distribuidor,Acumulado
0,1 World Sarongs,1 World Sarongs Women's Abstract Tiki Poncho (...,"Black,Blue,Brown",Overstock.com,18.24
1,1 World Sarongs,1 World Sarongs Women's Abstract Tiki Poncho (...,"Black,Blue,Brown",Overstock.com,34.66
2,1 World Sarongs,1 World Sarongs Women's Abstract Tiki Poncho (...,"Black,Blue,Brown",Overstock.com,50.05
3,1 World Sarongs,1 World Sarongs Women's Abstract Tiki Poncho (...,"Black,Blue,Brown",Overstock.com,63.55
4,1 World Sarongs,1 World Sarongs Women's Abstract Tiki Poncho (...,"Black,Blue,Brown",Overstock.com,76.32
5,1 World Sarongs,1 World Sarongs Women's Embroidered/ Sequined ...,White,Overstock.com,27.99
6,1 World Sarongs,1 World Sarongs Women's Embroidered/ Sequined ...,White,Overstock.com,55.48
7,1 World Sarongs,1 World Sarongs Women's Embroidered/ Sequined ...,White,Overstock.com,74.72
8,1 World Sarongs,1 World Sarongs Women's Embroidered/ Sequined ...,White,Overstock.com,92.91
9,1 World Sarongs,1 World Sarongs Women's Hibiscus Design Tube T...,"Other,Pink,White,Yellow",Overstock.com,16.39
10,1 World Sarongs,1 World Sarongs Women's Hibiscus One Size Saro...,Blue,Overstock.com,20.12
11,1 World Sarongs,1 World Sarongs Women's Hibiscus One Size Saro...,Blue,Overstock.com,34.20
12,1 World Sarongs,1 World Sarongs Women's Light Turquoise Mini D...,Blue,Overstock.com,21.99
13,1 World Sarongs,1 World Sarongs Women's Light Turquoise Mini D...,Blue,Overstock.com,37.38
14,1 World Sarongs,1 World Sarongs Women's Light Turquoise Mini D...,Blue,Overstock.com,52.07

In [15]:
# Calcular el precio promedio por zapato diferente
def promedio(x):
    new_data = pd.DataFrame(columns = ["Marca", "Nombre", "Color", "Distribuidor", "Precio"])
    new_data["Marca"] = acumulados["Marca"]
    new_data["Nombre"] = acumulados["Nombre"]
    new_data["Color"] = acumulados["Color"]
    new_data["Distribuidor"] = acumulados["Distribuidor"]
    lista_precios = []
    for i in range(0, len(x) - 1):
        if new_data.iloc[i].equals(new_data.iloc[i + 1]) == True:
            lista_precios.append(None)
        if new_data.iloc[i].equals(new_data.iloc[i + 1]) == False:
            lista_precios.append(acumulados.iloc[i]["Acumulado"] / (lista_precios.count(None) + 1))
            lista_precios = [e for e in lista_precios if e is not None]
    lista_precios.append(acumulados.iloc[len(acumulados) - 1]["Acumulado"])
    new_data.drop_duplicates(inplace = True)
    new_data.reset_index(inplace = True, drop = True)
    new_data["Precio"] = lista_precios
    return new_data
# Asignar el nuevo dataframe
data = promedio(data)
# Mostrar acumulados
data.head(10)

,Marca,Nombre,Color,Distribuidor,Precio
0,1 World Sarongs,1 World Sarongs Women's Abstract Tiki Poncho (...,"Black,Blue,Brown",Overstock.com,15.264000
1,1 World Sarongs,1 World Sarongs Women's Embroidered/ Sequined ...,White,Overstock.com,23.227500
2,1 World Sarongs,1 World Sarongs Women's Hibiscus Design Tube T...,"Other,Pink,White,Yellow",Overstock.com,16.390000
3,1 World Sarongs,1 World Sarongs Women's Hibiscus One Size Saro...,Blue,Overstock.com,17.100000
4,1 World Sarongs,1 World Sarongs Women's Light Turquoise Mini D...,Blue,Overstock.com,17.356667
5,1 World Sarongs,1 World Sarongs Women's Lined White Mini Dress...,White,Overstock.com,27.883333
6,1 World Sarongs,1 World Sarongs Women's Short Sleeve Deep V-ne...,"Black,Purple,White",Overstock.com,21.173333
7,2 Lips Too,2 Lips Too Too Demand Open Toe Synthetic We...,Black,ApparelSave - Walmart.com,23.995000
8,2 Lips Too,2 Lips Too Too Ripped Women Synthetic Green ...,Green,ApparelSave - Walmart.com,31.323333
9,2 Lips Too,2 Lips Too Too Skip Synthetic Ballet Flats,Beige,Sears.com,38.995000